.attribution { 
    position: absolute;
    bottom: 1rem;
    right: .2rem;
    font-size: .8rem;
    height: 1rem;
    z-index: 500;
    text-align: left;
    background-color: white; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}